<div id="top">
    <div id="homelogo">
        <img src="css/logocropped.png" id="logo">
        <div id="button2">
            <a href="profile.html"><button type="button" id="b1">Profile</button></a>
        </div>
        <div id="button1">
            <a href="events.html"><button type="button" id="b1">Events</button></a>
        </div>
    </div>
</div>