<html>

<head>
    <title>Add Item</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/budget_additem.css">
</head>

<body style="margin:0">

    {{> header}}

    <div id="head">
        <p id="header">ADD ITEM</p>
    </div>
    <div id="navigate">
        <button type="button" id="back" onclick="goBack()">🡨 Back</button>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>

    <div id="middle">
        <form id="budget-add-form" method="post" action="/submitBudgetAdd">
            <div class="form-group">
                <label for="itemname" id="itemnamelabel">Item Name:</label>
                <input type="text" id="itemname" name="itemname" placeholder="Item Name" required>
            </div>
            <div class="form-group">
                <label for="itemamount" id="itemamountlabel">Amount:</label>
                <input type="number" id="itemamount" name="itemamount" placeholder="Amount" required>
            </div>
            <div class="form-group">
                <label for="itemcategory" id="itemcategorylabel">Category:</label>
                <input type="text" id="itemcategory" name="itemcategory" placeholder="Category" required>
            </div>

            <input type="hidden" id="event" name="event" value="{{id}}">
            <input type="submit" id="confirmbutton" value="Confirm">
        </form>

    </div>
    </div>
    {{> navbar}}
</body>

</html>