<html>

<head>
    <title>Profile</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/profile.css">
</head>

<body style="margin:0">

    {{> header}}

    <div id="middle">
        <div id="head">
            <p id="header">PROFILE</p>
        </div>
        <div id="navigate">

        </div>

        <div class="info-section">
            <p class="bold">Email</p>
            <p class="regular">{{user.email}}</p>
            <p class="bold">Username</p>
            <p class="regular">{{user.username}}</p>
        </div>
    </div>
    <div id="containeradd">
        <a href="login.html"><button type="button" id="logoutbutton">Log Out</button></a>
        <a href="/profileChangePassword"><button type="button" id="changepasswordbutton">Change Password</button></a>
        <a href="/profileEdit"><button type="button" id="profileeditbutton">Edit</button></a>



    </div>
    </div>
    {{> navbar}}
</body>

</html>