<html>

<head>
    <title>Profile - Change Password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/editEvent.css">
</head>

<body style="margin:0">

    {{> header}}

    <div id="head">
        <p id="header">CHANGE PASSWORD</p>
    </div>
    <div id="navigate">
        <button type="button" id="back" onclick="goBack()">🡨 Back</button>
    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>

    <div id="middle">
        <form id="profile-pass-change-form" method="post" action="/submitChangePassword">
            <!--Old values should be placeholder. Make sure old and new value shouldn't be the same-->
            <div class="form-group">
                <label for="oldpassword" id="oldpasswordlabel">Old Password:</label>
                <input type="password" id="oldpassword" name="oldpassword" placeholder="Old Password" required>
            </div>
            <div class="form-group">
                <label for="newpassword" id="newpasswordlabel">New Password:</label>
                <input type="password" id="newpassword" name="newpassword" placeholder="New Password" required>
            </div>
            <div class="form-group">
                <label for="reenternewpassword" id="reenternewpasswordlabel">New Password:</label>
                <input type="password" id="reenternewpassword" name="reenternewpassword"
                    placeholder="Re-Enter New Password" required>
            </div>
            {{#if errorMessage}}
            <p style="color:red; text-align: center;">{{errorMessage}}</p>
            {{/if}}
            <input type="hidden" id="id" name="id" value="{{user._id}}">
            <input type="submit" id="confirmbutton" value="Confirm">
        </form>

    </div>
    </div>
    {{> navbar}}
</body>

</html>